![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [2]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [3]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('data/heart.csv')

Find out more about this dataset [here](https://archive.ics.uci.edu/ml/datasets/Statlog+%28Heart%29).

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [4]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [6]:
# Let's grab just one column
age_series = heart_df['age']

In [7]:
age_series

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [12]:
heart_df['age']

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [13]:
# What type is the column?
type(age_series)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [14]:
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [15]:
age_series.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [16]:
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [17]:
heart_df.keys()

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [18]:
age_series.columns
# This will throw an error!

AttributeError: 'Series' object has no attribute 'columns'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [19]:
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [22]:
heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [23]:
first_five = heart_df.head()

In [24]:
first_five

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### `.tail()` : last 5 rows

In [25]:
heart_df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [31]:
heart_df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

### `.info()` : information about the columns, including about nulls in those columns

In [33]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [34]:
heart_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [37]:
heart_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [39]:
heart_df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [42]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

In [44]:
# Now min
heart_df.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [46]:
# And max
heart_df['age'].min()

29

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [47]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
intakes_url.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A875253,NaN,2023-02-24T09:33:00.000,2023-02-24T09:33:00.000,5300 Sh 71 Eastbound in Travis (TX),Stray,Injured,Dog,Unknown,2 years,Chow Chow/German Shepherd,Black/Black
1,A839506,Beau,2023-02-24T08:18:00.000,2023-02-24T08:18:00.000,13705 Fuchs Grove Road in Travis (TX),Stray,Injured,Dog,Neutered Male,8 years,Bull Terrier Mix,Gray/White
2,A875242,Butterfly,2023-02-24T08:14:00.000,2023-02-24T08:14:00.000,6816 Boyce Lane in Travis (TX),Public Assist,Normal,Dog,Intact Female,1 year,Jack Russell Terrier Mix,White/Black
3,A875239,A875239,2023-02-24T08:03:00.000,2023-02-24T08:03:00.000,4434 Frontier Trail in Austin (TX),Stray,Sick,Dog,Intact Male,2 years,German Shepherd Mix,Tan/White
4,A839495,Sammy,2023-02-24T00:43:00.000,2023-02-24T00:43:00.000,13705 Fuchs Grove Rd in Travis (TX),Public Assist,Injured,Dog,Neutered Male,3 years,Pit Bull Mix,Gray/White

In [48]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json').head()

,animal_id,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,name
0,A875253,2023-02-24 09:33:00,2023-02-24T09:33:00.000,5300 Sh 71 Eastbound in Travis (TX),Stray,Injured,Dog,Unknown,2 years,Chow Chow/German Shepherd,Black/Black,NaN
1,A839506,2023-02-24 08:18:00,2023-02-24T08:18:00.000,13705 Fuchs Grove Road in Travis (TX),Stray,Injured,Dog,Neutered Male,8 years,Bull Terrier Mix,Gray/White,Beau
2,A875242,2023-02-24 08:14:00,2023-02-24T08:14:00.000,6816 Boyce Lane in Travis (TX),Public Assist,Normal,Dog,Intact Female,1 year,Jack Russell Terrier Mix,White/Black,Butterfly
3,A875239,2023-02-24 08:03:00,2023-02-24T08:03:00.000,4434 Frontier Trail in Austin (TX),Stray,Sick,Dog,Intact Male,2 years,German Shepherd Mix,Tan/White,A875239
4,A839495,2023-02-24 00:43:00,2023-02-24T00:43:00.000,13705 Fuchs Grove Rd in Travis (TX),Public Assist,Injured,Dog,Neutered Male,3 years,Pit Bull Mix,Gray/White,Sammy

In [49]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

(1000, 12)

In [51]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv('data/Austin_Animal_Center_Intakes_022822.csv')

In [52]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [54]:
# Check the last 5 rows
df.tail(3)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136760,A851977,*Jack,02/22/2022 01:34:00 PM,February 2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,02/25/2022 01:05:00 PM,February 2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,02/27/2022 01:44:00 PM,February 2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [56]:
# Check the shape
df.shape

(136763, 12)

In [57]:
# Check the datatypes
df.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [58]:
# Check more general information on the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   MonthYear         136763 non-null  object
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: object(12)
memory usage: 12.5+ MB

In [60]:
# Check summary/descriptive statistics on the dataframe
df.describe(include=[object])

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,136763,95772,136763,136763,136763,136763,136763,136763,136762,136763,136763,136763
unique,122244,23058,96160,101,57763,6,15,5,5,53,2734,614
top,A721033,Max,09/23/2016 12:00:00 PM,June 2015,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,620,64,2189,25674,94180,117867,77098,44962,23422,32034,14291

#### Any Observations?

- Just shows the 'Year' column - it's the only numeric column!

#### Any Observations?

- Can see non-null counts, number of uniques, plus the most frequent and how frequent it is
- Showcases the different kind of useful data you can explore when it's object vs numeric columns

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [62]:
# Dictionary, where keys match the column names and values are the row values
# Note that the values are list-like - you could easily add more rows by adding to the lists!
next_row = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'MonthYear': ['2022'],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['Cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row

{'Animal ID': ['A851755'],
 'Name': ["T'Challa"],
 'DateTime': ['2/28/2022 11:25:00 AM'],
 'MonthYear': ['2022'],
 'Found Location': ['Houston (TX)'],
 'Intake Type': ['Public Assist'],
 'Intake Condition': ['Normal'],
 'Animal Type': ['Cat'],
 'Sex upon Intake': ['Neutered Male'],
 'Age upon Intake': ['4 years'],
 'Breed': ['Domestic Shorthair'],
 'Color': ['Black']}

How can we add this to the bottom of our dataset?

In [63]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new2 = pd.DataFrame(next_row)
new2

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [68]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.

df_augmented = pd.concat([df, new2], ignore_index=True)

In [69]:
# Let's check the end to make sure we were successful!
df_augmented.tail()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136759,A852221,Coco,02/28/2022 11:05:00 AM,February 2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,02/22/2022 01:34:00 PM,February 2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,02/25/2022 01:05:00 PM,February 2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,02/27/2022 01:44:00 PM,February 2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

### Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [70]:
# Create a new column, 'test', where every value in the col is 0
df_augmented['test'] = 0

In [71]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,0
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,0
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,0

But we don't need that - let's drop that column.

In [72]:
# Drop that test column
df_augmented.drop(columns=['test'])

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,02/28/2022 11:05:00 AM,February 2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,02/22/2022 01:34:00 PM,February 2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,02/25/2022 01:05:00 PM,February 2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,02/27/2022 01:44:00 PM,February 2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [73]:
# Alternate way using axis arguement
df_augmented.drop('test', axis=1).head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [74]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,0
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,0
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,0

In [75]:
# Save over
#df_augmented = df_augmented.drop('test', axis=1)

# In place
df_augmented.drop('test', axis=1, inplace=True)
df_augmented.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [76]:
# Create a new column, 'Type', from the two 'Type' columns
df_augmented['Type'] = df_augmented['Intake Type'] + " " + df_augmented['Animal Type']

In [77]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Stray Dog

## Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [78]:
# Check which rows have an intake year greater than or equal to 2020
df_augmented['Animal Type'] == 'Cat'

0         False
1         False
2         False
3          True
4         False
          ...
136759    False
136760    False
136761    False
136762    False
136763     True
Name: Animal Type, Length: 136764, dtype: bool

In [79]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
sum(df_augmented['Animal Type'] == 'Cat')

51753

But this only gives us True/False outputs... what if we want to really filter?

### `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [80]:
# Create a subset dataframe of animals taken in during or after 2020
subset_cat = df_augmented.loc[df_augmented['Animal Type'] == 'Cat']

In [81]:
subset_cat.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
7,A844350,*Ella,10/15/2021 11:40:00 AM,October 2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,Stray Cat
9,A818975,NaN,06/18/2020 02:53:00 PM,June 2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,Stray Cat
10,A774147,NaN,06/11/2018 07:45:00 AM,June 2018,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,Stray Cat
11,A731435,*Casey,08/08/2016 05:52:00 PM,August 2016,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,Owner Surrender Cat

We can return only certain columns when we do this, by adding an argument after the condition:

In [82]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
subset_cat2 = df_augmented.loc[df_augmented['Animal Type'] == 'Cat', ['Animal ID', 'Intake Type', 'Color']]
subset_cat2

       Animal ID      Intake Type        Color
3        A665644            Stray       Calico
7        A844350            Stray  Brown Tabby
9        A818975            Stray  Cream Tabby
10       A774147            Stray  Black/White
11       A731435  Owner Surrender  Cream Tabby
...          ...              ...          ...
136754   A852234            Stray       Calico
136755   A852228  Owner Surrender  Brown Tabby
136756   A852227  Owner Surrender        Black
136757   A852216            Stray  Black/White
136763   A851755    Public Assist        Black

[51753 rows x 3 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [86]:
# Find all the Stray Cats taken in during or after 2020
df_augmented.loc[(df_augmented['Animal Type'] == 'Cat') & (df_augmented['Color'] == 'Black')]

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
35,A696205,Roo,02/12/2015 11:57:00 AM,February 2015,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Black,Owner Surrender Cat
39,A706507,NaN,06/29/2015 05:04:00 PM,June 2015,5306 Peppertree in Austin (TX),Stray,Normal,Cat,Unknown,4 days,Domestic Shorthair Mix,Black,Stray Cat
41,A789526,Sixlet,02/23/2019 11:22:00 AM,February 2019,2504 Stratford Drive in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Black,Stray Cat
43,A727838,NaN,05/26/2016 02:01:00 PM,May 2016,2504 Huntwick Dr in Austin (TX),Stray,Normal,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black,Stray Cat
56,A736501,Travis,10/11/2016 04:43:00 PM,October 2016,Austin (TX),Owner Surrender,Sick,Cat,Neutered Male,15 years,Domestic Shorthair Mix,Black,Owner Surrender Cat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136732,A852023,*Rain Shadow,02/23/2022 12:15:00 PM,February 2022,6600 Antigo Lane in Austin (TX),Stray,Normal,Cat,Unknown,4 months,Domestic Shorthair,Black,Stray Cat
136733,A852038,*Minkus,02/23/2022 03:01:00 PM,February 2022,3403 E 5Th St in Austin (TX),Stray,Injured,Cat,Neutered Male,11 months,Domestic Shorthair,Black,Stray Cat
136748,A852225,Lucy,02/28/2022 12:13:00 PM,February 2022,Travis (TX),Owner Surrender,Normal,Cat,Intact Female,3 months,Domestic Shorthair Mix,Black,Owner Surrender Cat
136756,A852227,Georgia,02/28/2022 12:13:00 PM,February 2022,Travis (TX),Owner Surrender,Normal,Cat,Intact Female,3 months,Domestic Shorthair Mix,Black,Owner Surrender Cat
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,Public Assist Cat

## Your turn!

### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

<details>
    <summary>Answer</summary>

```python
df_augmented.loc[(df_augmented['Animal Type'] == 'Dog') & (df_augmented['Intake Condition'] != 'Normal')]
```
</details>

### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

<details>
    <summary>Answer</summary>

```python
df_augmented[(df_augmented['Sex upon Intake'] == 'Intact Male') |
             (df_augmented['Sex upon Intake'] == 'Intact Female')]
```
</details>

### `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [87]:
# Find the first 3 rows
df_augmented.iloc[0:3]

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog

In [88]:
# Same as using head(3)
df_augmented.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Stray Dog

In [89]:
# Can look exactly where the 0 index is
df_augmented.iloc[0]

Animal ID                                       A786884
Name                                             *Brock
DateTime                         01/03/2019 04:19:00 PM
MonthYear                                  January 2019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
Type                                          Stray Dog
Name: 0, dtype: object

In [90]:
# But what about our subset dataframe above? It doesn't have an index 0
subset_cat.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
7,A844350,*Ella,10/15/2021 11:40:00 AM,October 2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,Stray Cat
9,A818975,NaN,06/18/2020 02:53:00 PM,June 2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,Stray Cat
10,A774147,NaN,06/11/2018 07:45:00 AM,June 2018,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,Stray Cat
11,A731435,*Casey,08/08/2016 05:52:00 PM,August 2016,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,Owner Surrender Cat

In [92]:
# Try it...
subset_cat.iloc[-1]

Animal ID                         A851755
Name                             T'Challa
DateTime            2/28/2022 11:25:00 AM
MonthYear                            2022
Found Location               Houston (TX)
Intake Type                 Public Assist
Intake Condition                   Normal
Animal Type                           Cat
Sex upon Intake             Neutered Male
Age upon Intake                   4 years
Breed                  Domestic Shorthair
Color                               Black
Type                    Public Assist Cat
Name: 136763, dtype: object

In [95]:
df_augmented.loc[]

Animal ID                                       A786884
Name                                             *Brock
DateTime                         01/03/2019 04:19:00 PM
MonthYear                                  January 2019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
Type                                          Stray Dog
Name: 0, dtype: object

## Series Methods

### `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [96]:
# Check the value counts for Animal Type
df_augmented['Animal Type'].value_counts()

Dog          77098
Cat          51753
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [97]:
# Now check Breed
df_augmented['Breed'].value_counts()

Domestic Shorthair Mix                    32034
Domestic Shorthair                        10441
Pit Bull Mix                               8913
Labrador Retriever Mix                     7370
Chihuahua Shorthair Mix                    6486
                                          ...
Bruss Griffon/Maltese                         1
Belgian Hare                                  1
Vulture                                       1
Toy Fox Terrier/Yorkshire Terrier             1
Standard Schnauzer/Australian Shepherd        1
Name: Breed, Length: 2734, dtype: int64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [100]:
# Use the normalize argument to change how the count is displayed
df_augmented['Animal Type'].value_counts(normalize=True, ascending=True)

Livestock    0.000175
Bird         0.004650
Other        0.053033
Cat          0.378411
Dog          0.563730
Name: Animal Type, dtype: float64

### `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [ ]:
# Let's sort the year column

In [101]:
# Now, sort the Animal Type col
df_augmented['Animal Type'].sort_values()

4867       Bird
96361      Bird
15477      Bird
3791       Bird
34239      Bird
          ...
59440     Other
106179    Other
15456     Other
46896     Other
37968     Other
Name: Animal Type, Length: 136764, dtype: object

In [103]:
# We can do this on the whole dataframe, it just needs to know what to sort by
# We can always choose ascending or descending
sorted_df = df_augmented.sort_values(by='Animal Type')
sorted_df

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
4867,A720744,Rooster 28,02/14/2016 04:02:00 PM,February 2016,21413 Webber Oaks Cv in Travis (TX),Public Assist,Normal,Bird,Intact Male,1 year,Chicken Mix,Black/Red,Public Assist Bird
96361,A720751,Rooster D 5,02/14/2016 04:02:00 PM,February 2016,21413 Webber Oaks Cv in Travis (TX),Public Assist,Normal,Bird,Intact Male,1 year,Chicken Mix,White,Public Assist Bird
15477,A683716,NaN,07/14/2014 01:54:00 PM,July 2014,9401 Capital Of Texas Highway in Austin (TX),Stray,Normal,Bird,Intact Female,1 month,Chicken,Brown/Yellow,Stray Bird
3791,A818041,NaN,05/31/2020 06:33:00 PM,May 2020,1103 E Applegate in Austin (TX),Stray,Normal,Bird,Intact Male,1 year,Chicken,White/Red,Stray Bird
34239,A787492,NaN,01/14/2019 01:00:00 PM,January 2019,9505 Cheryl Lynn in Austin (TX),Wildlife,Injured,Bird,Unknown,2 years,Vulture Mix,Black,Wildlife Bird
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59440,A829431,NaN,02/10/2021 03:49:00 PM,February 2021,905 Rocking Spur Cove in Travis (TX),Stray,Normal,Other,Intact Male,1 year,Rabbit Sh,Black,Stray Other
106179,A745754,NaN,03/23/2017 01:19:00 PM,March 2017,2222 Rio Grande St in Austin (TX),Wildlife,Normal,Other,Unknown,1 year,Bat,Black,Wildlife Other
15456,A816009,NaN,04/02/2020 04:52:00 PM,April 2020,5310 Joe Sayers Ave in Austin (TX),Wildlife,Sick,Other,Unknown,2 years,Bat,Brown,Wildlife Other
46896,A758611,NaN,09/19/2017 12:38:00 PM,September 2017,9300 Roxanna Drive in Austin (TX),Stray,Normal,Other,Unknown,1 year,Snake Mix,Black/Brown,Stray Other
37968,A766167,Sophie,02/03/2018 01:36:00 PM,February 2018,Austin (TX),Owner Surrender,Normal,Other,Intact Female,5 months,Californian Mix,White/Black,Owner Surrender Other

In [104]:
next_row2 = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'MonthYear': ['2022'],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row2

{'Animal ID': ['A851755'],
 'Name': ["T'Challa"],
 'DateTime': ['2/28/2022 11:25:00 AM'],
 'MonthYear': ['2022'],
 'Found Location': ['Houston (TX)'],
 'Intake Type': ['Public Assist'],
 'Intake Condition': ['Normal'],
 'Animal Type': ['cat'],
 'Sex upon Intake': ['Neutered Male'],
 'Age upon Intake': ['4 years'],
 'Breed': ['Domestic Shorthair'],
 'Color': ['Black']}

In [105]:
df_next = pd.DataFrame(next_row2)
df_next

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,cat,Neutered Male,4 years,Domestic Shorthair,Black

In [106]:
df_new = pd.concat([df_augmented, df_next], ignore_index=True)
df_new.tail()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
136760,A851977,*Jack,02/22/2022 01:34:00 PM,February 2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,Stray Dog
136761,A852127,Sonic,02/25/2022 01:05:00 PM,February 2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,Stray Dog
136762,A852194,Queen,02/27/2022 01:44:00 PM,February 2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,Stray Dog
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,Public Assist Cat
136764,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,cat,Neutered Male,4 years,Domestic Shorthair,Black,NaN

In [107]:
cats = df_new.loc[(df_new['Animal Type'] == "Cat") | (df_new['Animal Type'] == "cat")]

In [109]:
cats.sort_values(by = 'Animal Type', ascending=False)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
136764,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,cat,Neutered Male,4 years,Domestic Shorthair,Black,NaN
90912,A676634,Kasami,04/12/2014 06:18:00 PM,April 2014,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,4 years,Domestic Shorthair Mix,Black,Owner Surrender Cat
90881,A317744,Sofie Belle,08/26/2020 06:21:00 PM,August 2020,1700 E 4Th St in Austin (TX),Public Assist,Normal,Cat,Spayed Female,17 years,Domestic Shorthair Mix,Blue,Public Assist Cat
90882,A793787,Diana,04/29/2019 07:31:00 PM,April 2019,Fiesta Street And Govalle Avenue in Austin (TX),Stray,Normal,Cat,Intact Female,2 weeks,Siamese Mix,Seal Point,Stray Cat
90884,A700592,Jessie,04/16/2015 02:13:00 PM,April 2015,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,3 months,Domestic Shorthair Mix,Lynx Point,Owner Surrender Cat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45167,A681163,NaN,06/13/2014 02:06:00 PM,June 2014,5701 S Mopac Apt 1813 in Austin (TX),Stray,Nursing,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Orange Tabby,Stray Cat
45171,A770308,Mowgli,01/06/2020 05:10:00 PM,January 2020,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby,Owner Surrender Cat
45175,A739482,NaN,12/03/2016 02:56:00 PM,December 2016,2801 S Lakeline Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,3 years,Domestic Shorthair Mix,Blue Tabby,Stray Cat
45179,A771741,*Meg,05/08/2018 11:22:00 AM,May 2018,17305 Pearce Lane in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Torbie/White,Stray Cat
68238,A769563,NaN,04/06/2018 02:34:00 PM,April 2018,Austin (TX),Stray,Nursing,Cat,Intact Male,1 week,Domestic Shorthair Mix,Gray/White,Stray Cat

In [111]:
cats['Animal Type'].value_counts()

Cat    51753
cat        1
Name: Animal Type, dtype: int64

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.